doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Webelieve email
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type='text/css', href='#{path.css}/email.css', inline='')
  body

    table.wrapper
      tr.header
        td(colspan='3')
          table.header__wrap
            tr
              td
                p.header__slogan
                  | “ Webelieve. For the word of God
                  br
                  | is living and active
              td
                p.header__title Connect With Us
              td.header__social
                a.header__link(href='http://facebook.com')
                  img(src='#{path.img}/social/icon-facebook.png', alt='')
                a.header__link(href='http://twitter.com')
                  img(src='#{path.img}/social/icon-twitter.png', alt='')
                a.header__link(href='http://google.com')
                  img(src='#{path.img}/social/icon-google.png', alt='')
      tr.main
        td(colspan='3')
          a.logo(href='/')
            img(src='#{path.img}/logo.png', alt='')
          table.body
            tr
              td(colspan='3')
                img(src='#{path.media}/gallery/575x323/gallery-1.jpg', alt='')
            tr
              td
              td
                table.content
                  tr
                    td
                      h1 ABOUT OUR CHURCH
                      p  Church We Believe was born in 1975. Seventeen denominations came together to form an agency "to do in partnership what none of us could hope to do as well alone." The mission: Feed the hungry, clothe the naked, heal the sick, comfort the aged, shelter the homeless.

                      p More than 68 years later the mission remains, though where and how we accomplish it has changed dramatically.
                      p  Church We Believe was born in 1975. Seventeen denominations came together to form an agency "to do in partnership what none of us could hope to do as well alone." The mission: Feed the hungry, clothe the naked, heal the sick, comfort the aged, shelter the homeless.

                      p More than 68 years later the mission remains, though where and how we accomplish it has changed dramatically.
                      p  Church We Believe was born in 1975. Seventeen denominations came together to form an agency "to do in partnership what none of us could hope to do as well alone." The mission: Feed the hungry, clothe the naked, heal the sick, comfort the aged, shelter the homeless.

                      p More than 68 years later the mission remains, though where and how we accomplish it has changed dramatically.

                      p(style='text-align: center;')
                        a.btn--flat(href='#') See more details
                      p(style='text-align: center;') On our site
                      p
                        | Thanks,
                        br
                        | The WeBelieve
              td
      tr.footer
        td(colspan='3')
          p
            | Please do not reply directly to this email. You can reach us by sending message to
            br
            a(href='#') support@companyname.com
